/* Styles for the toggle buttons */

.justify-center {
  display: flex;
  justify-content: center;
  margin-bottom: 0.7rem;
}

.day {
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  padding: 3px 6px;
  background: white;
  border: 1px solid #ccc;
  font-size: 10px;
  pointer-events: none;
  z-index: 100;
}

.cal-container {
  padding: 0.6rem;
  background-color: #F8F8F8;
  border-radius: 0.7rem;
  width: 100%;
  max-width: 540px;
  margin-top: 0.8rem;
  height: 100%;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  margin-right: 1rem;
}

.chart-cal {
  width: 490px;
  height: 270px;
}

.legend {
  font-size: 11px;
}

.bar:hover {
  opacity: 0.75;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .cal-container {
    padding: 0.5rem;
    max-width: 100%;
  }

  .chart-days {
    height: 250px;
  }

  .legend {
    font-size: 9px;
  }
}
